.container-page-hipotesis{
    /* width: 100%; */
    /* padding: 0 150px; */
    margin: 50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-page-hipotesis h1{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.container-page-hipotesis ul li{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 10px;
}

