@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.graphics{
    display: flex;
    justify-content: center;
}
.container{
    position: relative;
    height: 827px;
}
.download{
    height: 80px;
    width: 440px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 8px;
    position: absolute;
    bottom: 35px;
    right: 15%;
    font-family: 'Poppins', sans-serif;
}

.download h1{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    color: rgb(138, 138, 138);
}

.download_options{
    background: rgb(231, 231, 231);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.download_options button{
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0px .5px #888;
    background: #fff;
    margin: 10px;
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.download_options button img{
    height: 20px;
    margin-right: 10px;
}